extends ./layout/index

block contenido
  main.container.mt-5
    .row 
        .col-md-5 
          img(src="img/nosotros.jpg", alt="imagen sobre nosotros",class="img-fluid")
        .col-md-7
          h1 #{pagina}

          blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi doloribus aliquam in voluptatem placeat nulla omnis debitis ut fugiat sapiente nemo quaerat necessitatibus et voluptatibus molestiae, dolorum beatae impedit! Cumque?
        
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt aliquam odio omnis repellendus tempora minus cum quos commodi, ut repudiandae minima non aliquid ipm ratione libero atque autem optio iusto.

          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci commodi quaerat facilis eaque dolor, distinctio necessitatibus reprehenderit dolorem dicta veniam laborum. Explicabo dolore consectetur velit odit aliquam nesciunt distinctio exercitationem.

  .listado-iconos
    .container.mt-5.py-5.text-center
      .row 
        .col-md-4
          img(src="img/icono_seguridad.svg", alt="icono seguridad",class="img-fluid mb-4")
          h2.mb-4 Seguridad
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus quisquam neque quod dolor voluptatibus, molestias fugiat fugit nesciunt doloribus voluptates assumenda odit laboriosam quidem labore fuga. Porro, adipisci accusamus? Dignissimos.
        .col-md-4
            img(src="img/icono_destinos.svg", alt="icono destino",class="img-fluid mb-4")
            h2.mb-4 Destinos
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus quisquam neque quod dolor voluptatibus, molestias fugiat fugit nesciunt doloribus voluptates assumenda odit laboriosam quidem labore fuga. Porro, adipisci accusamus? Dignissimos.
        .col-md-4
          img(src="img/icono_precios.svg", alt="icono precios",class="img-fluid mb-4")
          h2.mb-4 Precios
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus quisquam neque quod dolor voluptatibus, molestias fugiat fugit nesciunt doloribus voluptates assumenda odit laboriosam quidem labore fuga. Porro, adipisci accusamus? Dignissimos.